.card-sourse-item {
  margin-top: 30px; }

.avartar-user {
  width: 50px;
  height: 50px;
  border-radius: 50%; }

.login-form {
  margin: auto;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  margin: auto;
  width: 396px; }

.btn-create {
  float: right; }

h1 {
  color: green; }
