<div class="mt-4 login-form">
    <h2>Đăng nhập</h2>
    <form method="POST" action="/stored">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Tài khoản</label>
            <input type="text" class="form-control" name="userId" id="userId" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
            <input type="password" class="form-control" name="passWord" id="passWord">
        </div>
        <button type="submit" class="btn btn-primary">Đăng nhập</button>
        <button type="submit" class="btn btn-success">Đăng kí</button>
    </form>
</div>