<div class="mt-4">
    <form method="POST" action="">
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Từ khóa</label>
            <input type="text" name="txtSearch" class="form-control" placeholder="Nhập từ khóa...">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Từ khóa</label>
            <select name="sex" class="form-select" aria-label="Default select example">
                <option>--Chọn một--</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Default radio
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Default checked radio
                </label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>