<div class="mt-4">
    <form method="POST" action="./store">
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Tên khóa Học</label>
            <input type="text" name="name" class="form-control" placeholder="">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Thông tin khóa học</label>
            <input type="text" name="info" class="form-control" placeholder="">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Video ID</label>
            <input type="text" name="videoId" class="form-control" placeholder="">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Mã khóa học</label>
            <input type="text" name="slugurl" class="form-control" placeholder="">
        </div>

        <button type="submit" class="btn btn-primary">Đăng kí</button>
    </form>
</div>